# OS
.DS_Store

# IDE
.idea
.vscode

# Dependencies
node_modules/

# Next.js
.next/
out/

# OpenNext
.open-next/

# Build output
dist/
build.toml
deployments/

# Env files
.env
.env.local
.env.*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
